<div class="ui-g">
    <p-panel header="Administracion de personas">
        <p-table [value]="personas" [columns]="cols" [paginator]="true" [rows]="5">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-persona let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns">
                        {{persona[col.field]}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel>
</div>